.backdrop{      
    margin-right: auto;
    margin-left: auto;
    padding-left: 33%;
    padding-right: 0%;
    width: 99%;
    background: rgb(6, 13, 19);   
    text-align: left;            
    top: 0;    
    margin-top: 56px;          
    transform: translateX(0); 
    position: relative; 
    overflow-y: auto;
    overflow-x: hidden; 
    height: 95%;    
}

.backdrop hr{
    background: #171a1d;
}

.barChart{
    padding-left: 2%;
}

.smallSpan{
    font-weight: normal;
    line-height: 1.5;
    word-break: normal;
    display: inline;
    font-family: atlas, opensans, sans-serif, btcglyph;
    font-size: 11px;
    text-align: left;
    text-transform: inherit;
    color: rgba(255, 255, 255, 0.4);
    margin-left: 9px;
}

.backdrop.open{
    z-index: 200;
    transform: translateX(-34%);
    transition: transform 0.3s ease-out;
    width: 125%;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-text {
    display: inline;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.info-box-number {
    display: inline;
    font-weight: bold;
    font-size: 18px;    
    padding-right: 10%;
}

.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}

div.progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 5px;
}

.info-box .progress .progress-bar {
    background: #fff;
}

.progress, .info-box .progress .progress-bar {
    border-radius: 0;
}
.progress, .progress > .progress-bar, .progress .progress-bar, .progress > .progress-bar .progress-bar {
    border-radius: 1px;
}
.progress, .progress > .progress-bar {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-description {
    margin: 0;
}

.progress-description {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}